<div class="buttons-wrapper">
    <a href="/" class="logo">HashBin</a>
    <div class="buttons">
        <a href="/new" class="btn">New</a>

        <% if (locals.canSave) { %>
            <button class="btn" type="submit">Save</button>
        <% } %>

        <% if (locals.id != null) { %>
            <a href="/<%= locals.id %>/duplicate" class="btn">Duplicate</a>
        <% } %>
    </div>
</div>